{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mt-4">Bienvenue sur le blog</h1>
    <a href="{{ path('index_posts') }}" class="btn btn-light">VOIR LES POSTS</a>
{% endblock %}
