{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    <h1>Modifier un commentaire</h1>
    {{ form_start(editCommentForm)}}
    {{ form_row(editCommentForm.content) }}
    <button type="submit" class="btn btn-success">MODIFIER</button>
    {{ form_end(editCommentForm) }}
{% endblock %}